@font-face {
    font-family: 'Segoe Script';
    src: url('SegoeScript.woff2') format('woff2'),
        url('SegoeScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

